{% extends 'seed/base.html' %}

{% load static %}

{% block title %}Log in - Seedo{% endblock %}

{% block content %}
<section class="py-4 py-md-5 my-5">
    <div class="container py-md-5">
        <div class="row">
            <div class="col-md-6 text-center">
                <img class="img-fluid w-100" src="{% static 'seed/img/illustrations/login.svg' %}">
            </div>
            <div class="col-md-5 col-xl-4 text-center text-md-start">
                <h2 class="display-6 fw-bold mb-5"><span class="underline pb-1"><strong>Login</strong><br></span></h2>
                
                {% if messages %}
                <div class="alert alert-danger">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </div>
                {% endif %}
                
                <form method="post" data-bs-theme="light">
                    {% csrf_token %}
                    <div class="mb-3">
                        <input class="shadow form-control" type="text" name="username" placeholder="Username">
                    </div>
                    <div class="mb-3">
                        <input class="shadow form-control" type="password" name="password" placeholder="Password">
                    </div>
                    <div class="mb-5">
                        <button class="btn btn-primary shadow" type="submit">Log in</button>
                    </div>
                </form>
                <p class="text-muted"><a href="{% url 'forgot_password' %}">Forgot your password?</a></p>
            </div>
        </div>
    </div>
</section>
{% endblock %}