{% extends 'seed/base.html' %}
{% load static %}

{% block title %}Sign up - Seedo{% endblock %}

{% block content %}
<section class="py-4 py-md-5 my-5">
    <div class="container py-md-5">
        <div class="row">
            <div class="col-md-6 text-center"><img class="img-fluid w-100" src="{% static 'seed/img/illustrations/register.svg' %}"></div>
            <div class="col-md-5 col-xl-4 text-center text-md-start">
                <h2 class="display-6 fw-bold mb-5"><span class="underline pb-1"><strong>Sign up</strong></span></h2>
                <form method="post" data-bs-theme="light">
                    {% csrf_token %}
                    
                    {% if form.non_field_errors %}
                    <div class="alert alert-danger">
                        {% for error in form.non_field_errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                    {% endif %}
                    
                    <div class="mb-3">
                        {{ form.username.errors }}
                        <input class="shadow-sm form-control" type="text" name="{{ form.username.html_name }}" placeholder="Username" {% if form.username.value %}value="{{ form.username.value }}"{% endif %}>
                    </div>
                    
                    <div class="mb-3">
                        {{ form.email.errors }}
                        <input class="shadow-sm form-control" type="email" name="{{ form.email.html_name }}" placeholder="Email" {% if form.email.value %}value="{{ form.email.value }}"{% endif %}>
                    </div>
                    
                    <div class="mb-3">
                        {{ form.phone_number.errors }}
                        <input class="shadow-sm form-control" type="text" name="{{ form.phone_number.html_name }}" placeholder="Phone Number (optional)" {% if form.phone_number.value %}value="{{ form.phone_number.value }}"{% endif %}>
                    </div>
                    
                    <div class="mb-3">
                        {{ form.address.errors }}
                        <textarea class="shadow-sm form-control" name="{{ form.address.html_name }}" placeholder="Address (optional)" rows="3">{% if form.address.value %}{{ form.address.value }}{% endif %}</textarea>
                    </div>
                    
                    <div class="mb-3">
                        {{ form.password1.errors }}
                        <input class="shadow-sm form-control" type="password" name="{{ form.password1.html_name }}" placeholder="Password">
                    </div>
                    
                    <div class="mb-3">
                        {{ form.password2.errors }}
                        <input class="shadow-sm form-control" type="password" name="{{ form.password2.html_name }}" placeholder="Confirm Password">
                    </div>
                    
                    <div class="mb-5"><button class="btn btn-primary shadow" type="submit">Create account</button></div>
                </form>
                <p class="text-muted">Have an account? <a href="{% url 'login' %}">Log in&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-arrow-narrow-right">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M5 12l14 0"></path>
                            <path d="M15 16l4 -4"></path>
                            <path d="M15 8l4 4"></path>
                        </svg></a>&nbsp;</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}